/* START RESET */
html, body, div, section, article, header, footer, figure, span, h1, h2, h3, h4, h5, h6, p, br, table, th, tr, td, img, code, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
  }
  html {
    background: #ECECF0;
  }
  body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    background-color: #ECECF0;
    color: #000066;
    fill: #000066;
  }
  .logo {
    display: block;
    width: 96px;
    height: auto;
  }
  main {
    display: flex;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
  }
  header {
    background: #000066;
  }
  header h1 {
    display: block;
    float: left;
    width: 100%;
    color: white;
    font-size: 56px;
    line-height: 110%;
    font-weight: 900;
  }
  header h1 span {
    color: #88ee00;
    font-weight: inherit;
  }
  header article > * + * {
    margin-top: 40px;
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
  }
  .flex-row {
    display: flex;
    flex-flow: wrap;
  }
  .flex-col {
    display: flex;
    align-items: center;
  }
  .flex-col.align-top {
    align-items: start;
  }
  .flex-col.one-half {
    width: 100%;
  }
  .flex-col article {
    padding: 48px;
  }
  .flex-col figure {
    padding: 24px;
  }
  .waitlist-form {
    display: block;
    float: left;
    width: 100%;
  }
  .waitlist-form > * . * {
    margin-top: 16px;
  }
  .heft-button-primary {
    display: block;
    float: left;
    background-color: #88ee00;
    color: #000066;
    border-radius: 34px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 24px 56px;
    text-decoration: none;
  }
  #mc-embedded-subscribe {
    margin: 16px 0 0;
  }
  #mc_embed_signup form {
    margin: 0;
  }
  .waitlist-form #mc_embed_signup input.heft-button-primary {
    border-radius: 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border: none;
    margin: 16px 0 0;
    cursor: pointer;
  }
  .waitlist-form .waitlist-form #mc_embed_signup input,
  .waitlist-form #mce-EMAIL {
    display: block;
    float: left;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    border: solid 2px #9999cc;
    border-radius: 8px;
    color: #000066;
  }
  .waitlist-form #mce-EMAIL::placeholder {
    color: #9999cc;
  }
  .waitlist-form #mce-EMAIL:active,
  .waitlist-form #mce-EMAIL:focus {
    border: solid 2px #88ee00;
  }
  .waitlist-form #mce-error-response,
  .waitlist-form #mc_embed_signup div.mce_inline_error,
  .waitlist-form #mce-success-response {
    display: block;
    float: left;
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 8px 0 0;
  }
  .waitlist-form #mc_embed_signup input.mce_inline_error {
    border-color: red;
  }
  .waitlist-form #mce-error-response,
  .waitlist-form #mc_embed_signup div.mce_inline_error {
    color: red;
  }
  .waitlist-form #mce-success-response {
    color: #88ee00;
  }
  .preview {
    width: 100%;
    height: auto;
    margin-top: -48px;
  }
  footer h2 {
    font-size: 24px;
    line-height: 32px;
  }
  footer h2 a {
    font-weight: 700;
    color: #000066;
    text-decoration: none;
  }
  footer p {
    font-size: 15px;
  }
  footer * + * {
    margin-top: 24px;
  }
  .copyright {
    font-size: 12px;
  }


  @media only screen and (min-width: 880px) {
    .flex-col.one-half {
      width: 50%;
    }
    .preview {
      margin-bottom: -24vh;
      margin-top: -24px;
    }
    .flex-col figure {
      padding: 48px 0;
    }
  }